body {
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(214, 22, 22);
}


header {
    background-color: rgb(214, 22, 22);
    border-bottom: double;
    border-bottom-color: var(--dark);
}

footer {
    background-color: rgb(141, 15, 15);
    border-top: double;
    border-color: var(--dark);
    padding: 5px;
}


.image {
    width: 200px;
}

.name {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 25px;
    font-size: 50px;
    font-weight: bold;
}

.nav {
    margin-top: 10px;
}

a.nav-link {
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.pix {
    display: flex;
    justify-content: center;
}

p {
    margin: 20px;
}

h3 {
    margin-top: 20px;
}

h4.resume {
    margin: 10px 0 25px 25px;
}

a {
    color: black;
}

.title-aboutme {
    font-weight: bold;
    margin-top: 20px;
}

.aboutme {
    font-size: 20px;
}

form.flex-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.form-group {
    margin: 10px;
}

.root {
    --dark: rgb(214, 22, 22);
}

.port-image,
.card {
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    background-color: rgb(203, 90, 90);
}

.card-body,
.card {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;

}

.portfolio-title {
    justify-content: center;
    font-weight: bolder;
}